
html {
	font-size:62.5%;
  overscroll-behavior: none;
}
* {
	margin: 0;
	padding: 0;
  overscroll-behavior: none;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.students-tjY {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .nav-bar-7cJ {
    box-sizing: border-box;
    width: 26.1rem;
    position: absolute;
    left: 0;
    align-items: center;
    padding: 2.9rem 1.8rem 9.5rem 1.8rem;
    height: 102.4rem;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #141518;

    .neatskills-removebg-preview-1-q4S {
      background-position: 0 -5.6345rem;
      background-image: url('REPLACE_IMAGE:57a19da9e26531891d1a28c2323ea7a712b11514');
      flex-shrink: 0;
      margin: 0rem 5.6rem 4.3rem 0rem;
      width: 16.9rem;
      height: 3.8rem;
      position: relative;
      background-size: 100% 441.379%;
    }
    .frame-2138-FP4 {
      margin: 0rem 5.35rem 53.9rem 0rem;
      width: 13.25rem;
      flex-shrink: 0;

      .nav-item-AW2 {
        margin: 0rem 6.55rem 4.1rem 0rem;
        width: calc(100% - 6.55rem);
        height: 2rem;
        display: flex;
        align-items: center;

        .frame-2136-4rJ {
          margin: 0.3rem 0.6rem 0.4rem 0rem;
          width: 1.3rem;
          height: calc(100% - 0.7rem);
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 0.3rem;
          flex-shrink: 0;
        }
        .home-kz2 {
          font-weight: 500;
          letter-spacing: 0.056rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          cursor: pointer;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
      .nav-item-EPQ {
        align-items: center;
        margin: 0rem 3.45rem 4.1rem 0rem;
        width: calc(100% - 3.45rem);
        height: 2rem;
        display: flex;

        .frame-2136-jqx {
          position: relative;
          background-color: #ffffff;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.3rem 0.6rem 0.4rem 0rem;
          width: 1.3rem;
          height: calc(100% - 0.7rem);
          overflow: hidden;
        }
        .home-3bk {
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.2125;
          letter-spacing: 0.056rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 1.6rem;
        }
      }
      .nav-item-ARU {
        display: flex;
        align-items: center;
        margin: 0rem 5.75rem 3.8rem 0rem;
        width: calc(100% - 5.75rem);
        height: 2rem;

        .frame-2136-JGn {
          background-color: #ffffff;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.3rem 0.6rem 0.4rem 0rem;
          width: 1.3rem;
          height: calc(100% - 0.7rem);
          overflow: hidden;
          position: relative;
        }
        .home-coG {
          font-size: 1.6rem;
          letter-spacing: 0.056rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-weight: 500;
          line-height: 1.2125;
          flex-shrink: 0;
        }
      }
      .line-2-YB8 {
        height: 0.1rem;
        background-color: #728094;
        margin: 0rem 0rem 3.8rem 0.55rem;
        width: 12.7rem;
      }
      .nav-item-3dg {
        margin-right: 6.05rem;
        width: calc(100% - 6.05rem);
        height: 2rem;
        display: flex;
        align-items: center;

        .frame-2136-PBk {
          margin: 0.3rem 0.6rem 0.4rem 0rem;
          width: 1.3rem;
          overflow: hidden;
          border-radius: 0.3rem;
          flex-shrink: 0;
          height: calc(100% - 0.7rem);
          position: relative;
          box-shadow: 0 0.1rem 0.5rem #ffffff;
          background-color: #ffffff;
        }
        .home-ssc {
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
          line-height: 1.2125;
          letter-spacing: 0.056rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .cta-oFU {
      box-sizing: border-box;
      padding: 0.8rem 2.75rem 0.8rem 2.45rem;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 5.9rem 0rem 2.2rem;
      width: calc(100% - 8.1rem);
      position: relative;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.1000000015);

      .gearsix-HAe {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        object-fit: contain;
      }
      .settings-R1x {
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
  }
  .frame-2143-XKt {
    position: absolute;
    border-radius: 5rem 0 0 5rem;
    width: 123.8rem;
    height: 102.4rem;
    left: 20.2rem;
    top: 0;
    overflow: hidden;
    background-color: #2e3036;
    box-sizing: border-box;
    padding: 0rem 0.2rem 3.4rem 0.2rem;

    .auto-group-rcvi-2XY {
      margin-bottom: 3.8rem;
      width: 123.1rem;
      height: 9.4rem;
      position: relative;

      .header-ZnN {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #2d2e35;
        border-radius: 5rem 0 0 0;
        box-sizing: border-box;
        padding-top: 2.6rem;
        width: 123.1rem;
        height: 9.4rem;
        top: 0;
        overflow: hidden;
        align-items: center;

        .frame-1915-HiN {
          width: calc(100% - 11.5rem);
          height: 5.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.4rem 1.7rem 7.1rem;

          .my-progress-cEr {
            flex-shrink: 0;
            margin: 0.1rem 52.3rem 0rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-1915-qmp {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 38.5rem;
            width: 47.2rem;
            height: 100%;

            .group-1909-B4z {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .group-1908-8F8 {
                flex-shrink: 0;
                margin: 1.5rem 0.8rem 0.8rem 0rem;
                width: 2.8rem;
                height: calc(100% - 2.3rem);
                position: relative;

                .bell-ejG {
                  height: 2.8rem;
                  cursor: pointer;
                  position: absolute;
                  left: 0;
                  top: 0;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.688rem;
                }
                .frame-2323-z2S {
                  width: 1.3rem;
                  top: 0;
                  text-align: center;
                  font-size: 1.04rem;
                  white-space: nowrap;
                  left: 1.5rem;
                  line-height: 1.2333333242;
                  display: flex;
                  align-items: center;
                  height: 1.3rem;
                  position: absolute;
                  overflow: hidden;
                  font-weight: 600;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                  background-color: #e1348b;
                  color: #ffffff;
                  border-radius: 0.65rem;
                }
              }
              .male-EhU {
                background-image: url('REPLACE_IMAGE:74582f7e83210dab16fa120b46910b34f1be0e5e');
                border-radius: 99.9rem;
                flex-shrink: 0;
                height: 100%;
                overflow: hidden;
                position: relative;
                background-color: #ffffff;
                background-repeat: no-repeat;
                width: 5.1rem;
                cursor: pointer;
                background-size: 100% 100%;
                background-position: center;
              }
            }
          }
        }
        .line-5-kA2 {
          width: 123.1rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
        }
        .line-4-VNW {
          width: 122.6rem;
          height: 0.1rem;
          background-color: #728094;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
      }
      .search-bar--cT8 {
        align-items: center;
        line-height: 1.175;
        border-radius: 1rem;
        position: absolute;
        left: 65.4rem;
        font-size: 1.5rem;
        font-family: Raleway, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 1.1rem 19.9rem 1.1rem 1.4rem;
        width: 36.5rem;
        height: 4.7rem;
        background-color: #414348;
        top: 2.9rem;
        overflow: hidden;
        font-weight: 600;
        color: black;
        display: flex;

        &::placeholder {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.175;
          color: #ffffff;
          font-family: Raleway, 'Source Sans Pro';

        }
      }
    }
    .track-progress-of-students-9La {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.4rem 3.7rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2125;
    }
    .auto-group-ihqg-4Ce {
      display: flex;
      align-items: flex-end;
      margin: 0rem 3.8rem 1.5rem 3.7rem;
      width: calc(100% - 7.5rem);

      .frame-1991-PVp {
        margin-right: 47.3rem;
        height: 4.8rem;
        display: flex;
        column-gap: 2.9rem;
        align-items: center;
        flex-shrink: 0;

        .frame-2171-KeN {
          height: 100%;
          align-items: center;
          background-color: #a145cd;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.45rem 2.662rem 1.35rem 2.35rem;
          overflow: hidden;
          position: relative;
          display: flex;

          .class-r8W {
            margin-right: 1.3125rem;
            white-space: nowrap;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
          }
          .caretdown-xxE {
            margin-bottom: 0.225rem;
            width: 1.3751rem;
            height: 0.7501rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-2172-spJ {
          box-sizing: border-box;
          overflow: hidden;
          align-items: center;
          background-color: #a145cd;
          border-radius: 1rem;
          flex-shrink: 0;
          padding: 1.45rem 2.762rem 1.35rem 2.45rem;
          height: 100%;
          position: relative;
          display: flex;

          .skills-QZL {
            font-size: 1.6rem;
            font-weight: 600;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3125rem;
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .caretdown-jLi {
            flex-shrink: 0;
            margin-bottom: 0.225rem;
            width: 1.3751rem;
            height: 0.7501rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .frame-2173-TGi {
          display: flex;
          align-items: center;
          background-color: #a145cd;
          border-radius: 1rem;
          flex-shrink: 0;
          padding: 1.45rem 1.612rem 1.35rem 1.3rem;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          height: 100%;

          .performance-zXY {
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3125rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
          }
          .caretdown-iiS {
            margin-bottom: 0.225rem;
            width: 1.3751rem;
            height: 0.7501rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-2171-qHG {
        overflow: hidden;
        background-color: #e1348b;
        margin-bottom: 0.7rem;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1.1rem 3.4rem 1.35rem 2.7rem;
        cursor: pointer;

        .download-xcn {
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.7rem 0.35rem 0rem;
          width: 2.8rem;
        }
        .download-all-sze {
          text-align: center;
          line-height: 1.2125;
          color: #ffffff;
          margin-top: 0.35rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
    }
    .student-list-C1L {
      margin: 0rem 3.8rem 0rem 3.7rem;
      display: flex;
      border: solid 0.1rem rgba(255, 255, 255, 0.4300000072);
      box-sizing: border-box;
      background-color: #373a41;
      width: calc(100% - 7.5rem);
      overflow: hidden;
      position: relative;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 3rem;

      .auto-group-nf3k-vT8 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 118.7rem;
        height: 7rem;
        border-bottom: solid 0.1rem rgba(255, 255, 255, 0.3100000024);

        .list-headings-FkJ {
          box-sizing: border-box;
          width: 116rem;
          position: relative;
          margin: 0rem 2.7rem 0.1rem 0rem;
          padding: 2.7rem 8.7rem 2.3rem 8.2rem;
          height: 6.9rem;
          overflow: hidden;
          background-color: rgba(255, 255, 255, 0.0799999982);
          border-radius: 3rem 3rem 0 0;

          .group-1910-ZFC {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .student-name-uK4 {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.175;
              color: #ffffff;
              font-family: Raleway, 'Source Sans Pro';
              margin-right: 14.4rem;
              flex-shrink: 0;
              white-space: nowrap;
            }
            .id-2Pg {
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 17.4rem;
              font-weight: 600;
              line-height: 1.175;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              color: #ffffff;
            }
            .class-kqU {
              margin-right: 12.15rem;
              text-align: center;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.175;
              color: #ffffff;
              font-family: Raleway, 'Source Sans Pro';
            }
            .active-6PY {
              margin-right: 9.35rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.175;
              color: #ffffff;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .courses-Rwc {
              font-weight: 600;
              line-height: 1.175;
              color: #ffffff;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.3rem;
              text-align: center;
              font-size: 1.6rem;
            }
            .action-A8W {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.175;
              color: #ffffff;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
        }
      }
      .auto-group-pgzs-3i6 {
        padding: 4.3rem 2.9rem 1.9rem 2.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-1911-ai2 {
          margin: 0rem 0rem 4.372rem 0.3rem;
          width: 105.317rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .student-info-hXk {
            margin-bottom: 3.3rem;
            width: 100%;
            height: 3.541rem;
            display: flex;
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;

            .male-SkE {
              flex-shrink: 0;
              height: 100%;
              position: relative;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              border-radius: 54.0089rem;
              width: 3.5746rem;
              overflow: hidden;
              background-color: #ffffff;
              background-position: center;
            }
            .auto-group-t4fq-yEN {
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .rachit-rajput-6Zt {
                font-size: 1.4rem;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 12.55rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .id-53424-ojC {
                flex-shrink: 0;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 15.8rem 0rem 0rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
              }
              .item-5-vJ2 {
                font-size: 1.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.533rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
              }
              .yesterday-SGN {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                margin: 0rem 10.567rem 0.041rem 0rem;
                text-align: center;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .item-8-9ga {
                text-align: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                margin: 0.041rem 13.6rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .view-profile-GFQ {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-top: 0.0409rem;
                cursor: pointer;
                text-align: center;
                flex-shrink: 0;
                color: #e1348b;
              }
            }
          }
          .student-info-yfc {
            width: 100%;
            height: 3.541rem;
            display: flex;
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;

            .male-Xh8 {
              border-radius: 54.0089rem;
              width: 3.5746rem;
              overflow: hidden;
              background-color: #ffffff;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              height: 100%;
              position: relative;
              background-size: 100% 100%;
              flex-shrink: 0;
            }
            .auto-group-mbne-4SA {
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .rachit-rajput-nd4 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                color: #ffffff;
                font-weight: 500;
                line-height: 1.2125;
                margin: 0.041rem 12.55rem 0rem 0rem;
                font-size: 1.4rem;
              }
              .id-53424-uxa {
                flex-shrink: 0;
                color: #ffffff;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 15.8rem 0rem 0rem;
              }
              .item-5-Ejx {
                font-size: 1.4rem;
                font-weight: 500;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 13.533rem 0rem 0rem;
                text-align: center;
                line-height: 1.2125;
                color: #ffffff;
              }
              .yesterday-Mpa {
                margin: 0rem 10.517rem 0.041rem 0rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                text-align: center;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .item-4-g6A {
                font-weight: 500;
                text-align: center;
                font-size: 1.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.55rem 0rem 0rem;
                line-height: 1.2125;
              }
              .view-profile-bU2 {
                color: #e1348b;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                white-space: nowrap;
                margin-top: 0.0409rem;
                cursor: pointer;
                line-height: 1.2125;
              }
            }
          }
          .student-info-7BU {
            display: flex;
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;
            width: 100%;
            height: 3.541rem;

            .male-fCz {
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              background-color: #ffffff;
              border-radius: 54.0089rem;
              width: 3.5746rem;
              position: relative;
              background-position: center;
            }
            .auto-group-r8sj-zm4 {
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .rachit-rajput-8MU {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 12.55rem 0rem 0rem;
                font-weight: 500;
                line-height: 1.2125;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
              }
              .id-53424-3jL {
                font-size: 1.4rem;
                line-height: 1.2125;
                flex-shrink: 0;
                margin: 0.041rem 15.8rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-5-y7C {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.533rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.2125;
                color: #ffffff;
              }
              .yesterday-JQN {
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.567rem 0.041rem 0rem;
                text-align: center;
                font-size: 1.4rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-2-DnE {
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                flex-shrink: 0;
                margin: 0.041rem 13.6rem 0rem 0rem;
                color: #ffffff;
                white-space: nowrap;
              }
              .view-profile-kXG {
                margin-top: 0.0409rem;
                cursor: pointer;
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.2125;
                color: #e1348b;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .student-info-UTG {
            height: 3.541rem;
            display: flex;
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;
            width: 100%;

            .male-EBY {
              background-position: center;
              border-radius: 54.0089rem;
              flex-shrink: 0;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              width: 3.5746rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .auto-group-sbuj-Yi2 {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;

              .rachit-rajput-gZL {
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 12.55rem 0rem 0rem;
                text-align: center;
                font-size: 1.4rem;
                flex-shrink: 0;
              }
              .id-53424-1Li {
                margin: 0.041rem 15.8rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-5-XK4 {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.533rem 0rem 0rem;
                text-align: center;
                font-family: Inter, 'Source Sans Pro';
              }
              .yesterday-EUN {
                text-align: center;
                font-size: 1.4rem;
                font-family: Inter, 'Source Sans Pro';
                margin: 0rem 10.517rem 0.041rem 0rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-4-9rE {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.55rem 0rem 0rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .view-profile-5zn {
                color: #e1348b;
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.0409rem;
                text-align: center;
                font-weight: 600;
              }
            }
          }
          .student-info-1Ne {
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;
            width: 100%;
            height: 3.541rem;
            display: flex;

            .male-kr2 {
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              background-size: 100% 100%;
              border-radius: 54.0089rem;
              width: 3.5746rem;
              height: 100%;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              flex-shrink: 0;
              background-repeat: no-repeat;
              background-position: center;
            }
            .auto-group-elkq-thL {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;

              .rachit-rajput-paz {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 12.55rem 0rem 0rem;
                text-align: center;
                line-height: 1.2125;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .id-53424-LZL {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 15.8rem 0rem 0rem;
                text-align: center;
                line-height: 1.2125;
                color: #ffffff;
                font-size: 1.4rem;
                font-weight: 500;
                flex-shrink: 0;
              }
              .item-5-rna {
                color: #ffffff;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 13.533rem 0rem 0rem;
              }
              .yesterday-YvJ {
                text-align: center;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                margin: 0rem 10.567rem 0.041rem 0rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-5-fV8 {
                text-align: center;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0.041rem 13.6rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 500;
                white-space: nowrap;
              }
              .view-profile-BCa {
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.0409rem;
                text-align: center;
                font-weight: 600;
                color: #e1348b;
                white-space: nowrap;
                cursor: pointer;
                font-size: 1.4rem;
              }
            }
          }
          .student-info-tsg {
            width: 100%;
            height: 3.541rem;
            display: flex;
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;

            .male-ebx {
              width: 3.5746rem;
              background-color: #ffffff;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              border-radius: 54.0089rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              background-size: 100% 100%;
              flex-shrink: 0;
            }
            .auto-group-tg1t-nTG {
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .rachit-rajput-v3g {
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.2125;
                margin: 0.041rem 12.55rem 0rem 0rem;
                font-weight: 500;
                font-family: Inter, 'Source Sans Pro';
              }
              .id-53424-38J {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                margin: 0.041rem 15.8rem 0rem 0rem;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-5-ZMY {
                font-weight: 500;
                line-height: 1.2125;
                margin: 0.041rem 13.533rem 0rem 0rem;
                text-align: center;
                font-size: 1.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .yesterday-gh4 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.567rem 0.041rem 0rem;
                text-align: center;
                color: #ffffff;
              }
              .item-5-QNA {
                text-align: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0.041rem 13.6rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
              }
              .view-profile-Xxa {
                line-height: 1.2125;
                color: #e1348b;
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.0409rem;
                text-align: center;
                font-weight: 600;
                cursor: pointer;
                font-size: 1.4rem;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .student-info-fJ6 {
            border-radius: 54.0089rem;
            flex-shrink: 0;
            margin-bottom: 3.3rem;
            width: 100%;
            height: 3.541rem;
            display: flex;
            align-items: center;

            .male-cUE {
              border-radius: 54.0089rem;
              flex-shrink: 0;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              background-repeat: no-repeat;
              width: 3.5746rem;
              height: 100%;
              overflow: hidden;
              position: relative;
            }
            .auto-group-sfjc-kqL {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;

              .rachit-rajput-UWS {
                margin: 0.041rem 12.55rem 0rem 0rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .id-53424-zza {
                font-size: 1.4rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                margin: 0.041rem 15.8rem 0rem 0rem;
                text-align: center;
                font-weight: 500;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-5-8L6 {
                text-align: center;
                color: #ffffff;
                flex-shrink: 0;
                margin: 0.041rem 13.533rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .yesterday-Sra {
                line-height: 1.2125;
                color: #ffffff;
                font-size: 1.4rem;
                text-align: center;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.567rem 0.041rem 0rem;
              }
              .item-2-mP4 {
                color: #ffffff;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                white-space: nowrap;
                margin: 0.041rem 13.6rem 0rem 0rem;
                text-align: center;
                font-family: Inter, 'Source Sans Pro';
              }
              .view-profile-tyU {
                color: #e1348b;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-top: 0.0409rem;
                cursor: pointer;
              }
            }
          }
          .student-info-cuU {
            align-items: center;
            border-radius: 54.0089rem;
            flex-shrink: 0;
            width: 100%;
            height: 3.541rem;
            display: flex;

            .male-yEE {
              background-position: center;
              background-image: url('REPLACE_IMAGE:abe99fd39156e0151e8b15be5ffd0b44bbb3c371');
              border-radius: 54.0089rem;
              width: 3.5746rem;
              overflow: hidden;
              background-color: #ffffff;
              background-repeat: no-repeat;
              height: 100%;
              position: relative;
              background-size: 100% 100%;
              flex-shrink: 0;
            }
            .auto-group-zpvi-udg {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.8rem 0rem 1rem 2.692rem;
              height: 100%;
              display: flex;
              align-items: center;

              .rachit-rajput-Evr {
                font-weight: 500;
                line-height: 1.2125;
                flex-shrink: 0;
                font-size: 1.4rem;
                text-align: center;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 12.55rem 0rem 0rem;
              }
              .id-53424-y7k {
                margin: 0.041rem 15.8rem 0rem 0rem;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-5-tVc {
                text-align: center;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.041rem 13.533rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.2125;
                flex-shrink: 0;
              }
              .yesterday-cAi {
                margin: 0rem 10.667rem 0.041rem 0rem;
                text-align: center;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-1-jWE {
                font-size: 1.4rem;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.041rem 13.7rem 0rem 0rem;
                text-align: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
              }
              .view-profile-ErJ {
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.0409rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #e1348b;
                font-family: Inter, 'Source Sans Pro';
                cursor: pointer;
              }
            }
          }
        }
        .pagination-wVp {
          display: flex;
          column-gap: 1.1rem;
          align-items: center;
          flex-shrink: 0;
          height: 3.9rem;

          .frame-2225-GY6 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 2.2rem;
            height: 2rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-2168-c6A {
            cursor: pointer;
            position: relative;
            background-color: #e1348b;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.2rem;
            align-items: center;
            line-height: 1.2125;
            white-space: nowrap;
            justify-content: center;
            height: 100%;
            overflow: hidden;
            font-weight: 600;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            text-align: center;
            font-size: 1.6rem;
          }
          .frame-2221-Hi6 {
            border-radius: 1rem;
            position: relative;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            width: 4.2rem;
            text-align: center;
            display: flex;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;
            overflow: hidden;
            justify-content: center;
          }
          .frame-2222-n94 {
            width: 4.2rem;
            color: #ffffff;
            white-space: nowrap;
            justify-content: center;
            height: 100%;
            cursor: pointer;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            border-radius: 1rem;
            flex-shrink: 0;
            overflow: hidden;
            line-height: 1.2125;
            align-items: center;
            position: relative;
            text-align: center;
            font-size: 1.6rem;
          }
          .frame-2223-fTk {
            flex-shrink: 0;
            width: 2.2rem;
            height: 2rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

